<div class="container">
<h1>Listing locations</h1>

<div id="map_canvas">
<%= gmaps4rails(@json) %>
<div>
<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Longitude</th>
    <th>Latitude</th>
    <th>Gmaps</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @locations.each do |location| %>
  <tr>
    <td><%= location.name %></td>
    <td><%= location.address %></td>
    <td><%= location.longitude %></td>
    <td><%= location.latitude %></td>
    <td><%= location.gmaps %></td>
    <td><%= link_to 'Show', location, :class => 'btn btn-primary' %></td>
    <td><%= link_to 'Edit', edit_location_path(location), :class => 'btn btn-primary' %></td>
    <td><%= link_to 'Destroy', location, method: :delete, :class => 'btn btn-primary', data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Location', new_location_path %>
</div>